@import 'global';

:where(.bold) {
    color: #222831;
    background-color: #efefef;
    border: 1px solid #000;
    border-radius: 0;
    &:not(:last-of-type){
        border-right: none;
    }
    &:focus {
        outline: none;
    }
    transition: 0.3s;
}
.isActive {
    font-weight: bold;
    background-color: #222831;
    color: #fff;
    transition: 0.3s;
  }